.header-sets {
    background-color: #6b7a8f;
    padding-top:0px;
}

.footer-sets {
    background-color:#dcc7aa;
    height:100px;
}
.main-sets {
    min-height:calc(75vh - 100px);
    

}

.logo-container {
    background-color:#f7c331;
    height:25vh;
}

.logo{
    background: url("../images/the-bell-jar-logo-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 25vh;
    width:25vh;
    /* background-position: center; */
    margin-left:calc(50% - 12.5vh);


    /* transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; 
    -webkit-transition: all .5s ease-in-out; */
    /* margin-left: calc(50% - 12.5vh); */
    /* display:inline-block; */
    /* position:absolute;
    left:calc(50% -12.5vh); */
 

}

#nav{
height:20%;
}



.menu-container {
    padding:0;
}
.menuitem {
    /* padding:20px;
    font-size:24px;
    color:white;
    border: 3px solid white; */
    text-decoration:none;
    color:white;
    text-transform:uppercase;
    text-align: center;
    line-height:50px;
    
       }

       .menuitem:hover {

  color: #f7c331;
  text-decoration:none;
}

.menu-col{
    /* border:1px solid black; */
    text-align:center;
    height:100%;
    /* padding:0; */
   
}

header .container-fluid .row .col {
    /* height:25vh;  */
    padding-top:calc(25vh - 50px)
}

#menutop{
    height:80%;
}

.jumbo {
    background: url("../images/belljarroom.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width:100%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    /* display:inline-block; */
    /* position:absolute;
    left:calc(50% - 120px); */
}

/* -----COPIED FROM WHISKEY PROJECT */
.navbar {
    margin-bottom: 0;
    border:0;
    width:100%;
    background-color:rgba(0,0,0,0);
        /* background-color:#6b7a8f; */
    padding-left:0;
    padding-right:0;
    padding-bottom:0;
}
.navbar button {
    background-color:#6b7a8f;
    margin-left:8px;
    margin-right:8px;
}

#navbarNavDropdown {
    background-color:#6b7a8f;
    padding-left:0px;
    margin-top:8px;r
    width:100%;
}

.navbar .navbar-toggler {
    border:0;
}

.navbar-brand {
    font-weight:bold;
}

.navbar .navbar-nav a {
    font-weight:bold;
}
/* ----END OF COPY */

@media (max-width:990px) {
    .logo {
        position: absolute;
        left:calc(50% - 12.5vh);
        margin-left:0;

    
    }

    header .container-fluid .row .col {
    /* height:25vh;  */
    padding-top:0;
}

    .header-sets {
        padding-top:0;
    }

}

@media (max-height:467px) {
.main-sets {
    min-height:250px;
}
.logo, .logo-container {
     height:120px;
     width:120px;
}

.logo {
        position: absolute;
        left:calc(50% - 60px);
        margin-left:0;

    
    }
}